<br><br>
<hr>

<%= link_to 'Go back', root_path %>

  <header class="v-header container">     <!--  HEADER BEGIN    -->


<div class="header-overlay"></div>
              <div class="fullscreen-video-wrap"> <!--*DIV* fullscreen-video-wrap *** BEGIN *** -->
                <!-- <video src="https://www.videvo.net/videvo_files/converted/2015_08/preview/Ao_Nang_Beach_Yoga_MP4_HDV_1080p25__TanuriX_Stock_Footage_NS.mp488796.webm" autoplay="true" loop="true"></video> -->

                <video src="https://ak6.picdn.net/shutterstock/videos/1315366/preview/stock-footage-sport-athlete-chin-ups.mp4" autoplay="true" loop="true"></video>
              </div> <!--* DIV * fullscreen-video-wrap *** END *** -->
              <div class="header-content">

                <div class="header-content">
                  <h1> <%= flash[:notice] %></h1>


                  <p>

                    <%= link_to 'Home', root_url %> |
                    <%= link_to 'View Instructors', instructors_path %> | <%= link_to 'View courses', courses_path %> |
                     <% if current_customer %>
                       Welcome&nbsp;<a href="<%= customer_path(current_customer) %>"><%= current_customer.first_name %></a>&nbsp;&nbsp;<%= link_to 'Log Out', logout_path %>
                     <% elsif current_instructor%>
                      Welcome&nbsp;<a href="<%= instructor_path(current_instructor)%>"><%= current_instructor.first_name %> </a>&nbsp;&nbsp;<%= link_to 'Log Out', logout_path %>
                     <% else %>

                       <%= link_to 'Log In', login_path%>
                     <% end %>
                  </p>



                <div class="form">
                  <h1>

                    <font color="white">
                      <h1>would you like to sign up as a
                        <br>




                        <h1>
                          <font color="black">
                            <%= link_to 'Instructor', new_instructor_path %>
                          or

                      <%= link_to 'Athlete', new_customer_path %>
                      </h1>
                    </font>



                  </div>

                <br>
                  <!-- <p><a href="#" class="btn"> HELLO</a></p> -->


                </div>

                </div>


  </header>                      <!--  HEADER END    -->
