  <%= form_with(model: instructor, local: true) do |form| %>
    <% if instructor.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(instructor.errors.count, "error") %> prohibited this instructor from being saved:</h2>

        <ul>
        <% instructor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <br>
    <hr>
    <!-- <div class="field">
      <%= form.label :fb_token %>
      <%= form.text_field :fb_token, id: :user_fb_token %>
    </div> -->

<div class="field">
  <br>
    <%= form.file_field :image, id: :instructor_image, class: "edit-center btn btn-default btn-lg" %>
    <% if @instructor.image? %>
    <br>

    <br>
      <%= image_tag @instructor.image.url, class: "image-medium" %>
      <br>
      <br>
      <%= form.check_box :remove_image, class: "edit-center btn btn-default btn-lg" %> Remove Image
    <% end %>
</div>


<hr>
    <div class="field">
      <%= form.label 'Edit Username:' %>
      <%= form.text_field :username, id: :instructor_username %>
    </div>
<hr>
    <div class="field">
      <%= form.label 'Edit First Name:' %>
      <%= form.text_field :first_name, id: :instructor_first_name %>
    </div>
<hr>

    <div class="field">
      <%= form.label 'Edit Last Name:' %>
      <%= form.text_field :last_name, id: :instructor_last_name %>
    </div>
<hr>
    <div class="field">
      <%= form.label 'Edit Email:' %>
      <%= form.text_field :email, id: :instructor_email %>
    </div>
<br>
<hr>
  <br>
    <div class="actions">
      <%= form.submit 'Update Your Profile', class: 'btn btn-success btn-lg', method: :update, data: { confirm: 'Are you sure you would like to Update your profile?' }%>
    </div>
  <% end %>
<br>
    <hr>

  <br>
