<%= form_with(model: instructor, local: true) do |form| %>
  <% if instructor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instructor.errors.count, "error") %> prohibited this instructor from being saved:</h2>

      <ul>
      <% instructor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :fb_token %>
    <%= form.text_field :fb_token, id: :user_fb_token %>
  </div>


  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :instructor_image %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :instructor_username %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :instructor_last_name %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :instructor_first_name %>

  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :instructor_email %>
  </div>

  <div class="field">
    <%= form.label :password_digest %>
    <%= form.text_field :password_digest, id: :instructor_password_digest %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
