<div class="text-center">

  <h1 class="text-center"> Instructors</h1>
  <br>

  <table class="table">

    <tbody>
      <% @instructors.each do |instructor| %>
        <tr>
          <td>
            <br>
            <%= image_tag instructor.image.url(:medium) %>
          </td>
          <td>
            <h5>
              <br>
              <br>
              <%= instructor.first_name %>
              <br>
              <%= instructor.last_name %>
              <br>
              <%= instructor.email %>
              <br>
            </h5>
          </td>

          <td>
            <br>
            <br>
            <%= link_to 'Learn more', instructor ,class: 'btn btn-info btn-lg', style: 'color: white' %>
            <br>
            <br>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>

  <hr>

  <br>

  <%= link_to 'Back', :back, class: 'btn btn-primary  btn-lg ', style: 'color: white;'  %>

</div>
