<div class="text-center">

  <h1 class="text-center"> Instructors</h1>

  <br>

  <table class="table">
    <tbody>
      <% @instructors.each do |instructor| %>
        <tr>
          <td>
            <%= image_tag instructor.image.url ,class: 'image-small' if instructor.image? %>
          </td>
          <td>
              <br>
              <%= instructor.first_name %> <%= instructor.last_name %>
              <br>
              <br>
              <%= instructor.email %>
              <br>
              <br>
              <%= link_to 'Learn more', instructor ,class: 'btn btn-info', style: 'color: white' %>
          </td>

          <td>
            <br>
            <br>
            <br>
          </td>

        </tr>
      <% end %>
    </tbody>
    </h3>
  </table>


  <hr>

  <br>

  <%= link_to 'Back', :back, class: 'btn btn-primary  btn-lg ', style: 'color: white;'  %>

</div>
