<h1>Instructors</h1>

<table>
  <thead>
    <tr>
<<<<<<< HEAD
      <th>Username</th>
      <th>Last name</th>
      <th>First name</th>
      <th>Name</th>
<<<<<<< HEAD
      <th>Image</th>
=======
=======
      <th>Image</th>
      <th>Username</th>
      <th>Last name</th>
      <th>First name</th>
>>>>>>> b370d4db53a49835bed3c95a12390a49eab2ea8a
>>>>>>> jorge
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
<<<<<<< HEAD
        <td><%= image_tag instructor.image.url(:thumb) %></td>
        <td><%= instructor.username %></td>
        <td><%= instructor.last_name %></td>
        <td><%= instructor.first_name %></td>
=======
<<<<<<< HEAD
        <td><%= instructor.username %></td>
        <td><%= instructor.last_name %></td>
        <td><%= instructor.first_name %></td>
        <td><%= instructor.name %></td>
=======
        <td><%= image_tag instructor.image.url(:thumb) %></td>
        <td><%= instructor.username %></td>
        <td><%= instructor.last_name %></td>
        <td><%= instructor.first_name %></td>
>>>>>>> b370d4db53a49835bed3c95a12390a49eab2ea8a
>>>>>>> jorge
        <td><%= instructor.email %></td>

        <td><%= link_to 'Show', instructor %></td>
        <!-- <td><%= link_to 'Edit', edit_instructor_path(instructor) %></td> -->
        <td><%= link_to 'Destroy', instructor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<hr>
<%= link_to 'New Instructor', new_instructor_path %> |
<%= link_to 'Back', :back %>
