<div class="everything">
        <div class="aligner">
          <div class="aligner-items">
            <div class="runner-background">
            <div class="jon-instructors">
                          <font color="black">
                            <img src="https://awo.aws.org/wp-content/uploads/2016/08/Instructor-icon.png" alt="instructor" style="width:50%;height:50%;">
                              <h1>New Instructor</h1>
                          </font>

                            <%= form_for @instructor do |f| %>

                              <p>
                                  <%= f.label :first_name %>
                                  <%= f.text_field :first_name %>
                              </p>
                              <p>
                                  <%= f.label :last_name %>
                                  <%= f.text_field :last_name %>
                              </p>
                              <p>
                                  <%= f.label :email %>
                                  <%= f.text_field :email %>
                              </p>
                              <p>
                                  <%= f.label :username %>
                                  <%= f.text_field :username %>
                              </p>
                              <p>
                                  <%= f.label :password %>
                                  <%= f.password_field :password %>
                              </p>
                              <p>
                                  <%= f.label :password_confirmation %>
                                  <%= f.password_field :password_confirmation %>
                              </p>

                              <div class="field">
                                <%= f.label :image %>
                                <%= f.file_field :image, id: :instructor_image %>
                              </div>
                            <br>

                              <p>
                                <%= f.submit 'Create my Account'%>
                              </p>
                            <% end %>
                            <%= link_to 'Back', :back %>

            </div>
          </div>
        </div>
    </div>
  </div>
