<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @instructor.username %>
</p>


<p>
  <strong>Last name:</strong>
  <%= @instructor.last_name %>
</p>

<p>
  <strong>Instructor Photo:</strong>
  <%= image_tag @instructor.image.url(:thumb) %>
</p>


<p>
  <strong>First name:</strong>
  <%= @instructor.first_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @instructor.email %>
</p>


<%= link_to 'Edit Instructor', edit_instructor_path(@instructor) %>


<% if @instructor.courses.any? %>
  <%= render 'courses/index', courses: @instructor.courses  %>
<% else  %>
  <h2>No courses</h2>
<% end %>

<%= render 'courses/form', course: @instructor.courses.new %>

<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %> |
