<!-- <p id="notice"><%= notice %></p> -->

<h1>Current Instructor</h1>
<p>
  <strong>Username:</strong>
  <%= @instructor.username %>
</p>
<p>
  <strong>Last name:</strong>
  <%= @instructor.last_name %>
</p>
<p>
  <strong>Instructor Photo:</strong>
  <%= image_tag @instructor.image.url(:thumb) %>
</p>
<p>
  <strong>First name:</strong>
  <%= @instructor.first_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @instructor.email %>
</p>
<%= link_to 'Edit', edit_instructor_path(@instructor) %>
<!-- <%= link_to 'Back', instructors_path %> -->
<br>
<hr>
<br>
<% if @instructor.courses.any? %>
  <%= render 'courses/theindex', courses: @instructor.courses  %>
  <br>
<% else  %>
  <h2>No courses</h2>
<% end %>
<br>
<%= render 'courses/form', course: @instructor.courses.new %>

<%= link_to 'Log out', logout_path %>
