<div class="text-center">

<br>

<p>
  <% if @instructor.image.url %>
  <%= image_tag @instructor.image.url, class: "image-small" %>
  <% end %>
</p>


<p>
  <strong>Username:</strong>
  <%= @instructor.username %>
</p>
<p>
  <strong>First name:</strong>
  <%= @instructor.first_name %>
</p>
<p>
  <strong>Last name:</strong>
  <%= @instructor.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @instructor.email %>
</p>

<br>

<hr>

<h1> <%= @instructor.username %>'s Courses: </h1>

<% if @instructor.id == session[:instructor_id] %>
<hr>
<br>
  <%= link_to 'Create Course', new_course_path, class: 'btn btn-success btn-lg btn-block', style: 'color: white;'  %>
<br>
<br>
<% end %>


<% if @instructor.courses.any? %>
<table class="table">
  <thead>
    <tr>
      <h4>
        <th></th>
      </h4>

    </tr>
  </thead>

  <tbody>
    <% @instructor.courses.each do |course| %>
      <tr>
        <td>
          <%= course.name %>
          <br>
          <%= image_tag course.image.url, class: 'image-medium' %>
            <br>
          $<%= course.price %>
            <br>

          <br>
          <%= link_to "Learn more about #{course.name}", course_path(course) ,class: 'btn btn-info btn-lg', style: 'color: white' %>
          <hr>

        </td>

        <td>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
<% else  %>
  <h3>No Courses Available</h3>
<% end %>



<% if @instructor.id == session[:instructor_id] %>
<hr>
<br>

  <%= link_to 'Edit Profile', edit_instructor_path(@instructor), class: "btn btn-lg  btn-default"  %>
  <br>
  <br>
<hr>
<br>
<% end %>


<h4>
      <%= link_to 'Back', :back, class: 'btn btn-primary  btn-lg ', style: 'color: white;' %>
<br>
<hr>
</h4>


<br>
<br>
<br>
<br>

</div>
