<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <strong>Username:</strong>
  <%= @instructor.username %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @instructor.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @instructor.first_name %>
=======
  <strong>Name:</strong>
  <%= @instructor.name %>
>>>>>>> initial commit
</p>

<p>
  <strong>Email:</strong>
  <%= @instructor.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @instructor.password_digest %>
</p>

<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<<<<<<< HEAD
<%= link_to 'Back', instructors_path %> |
<%= link_to 'Create Event', new_course_path(@instructor_id) %>
=======
<%= link_to 'Back', instructors_path %>
>>>>>>> initial commit
