<div class="text-center">


<!--
<video src="https://ak6.picdn.net/shutterstock/videos/1315366/preview/stock-footage-sport-athlete-chin-ups.mp4" autoplay="true" loop="true"></video>
</div> -->

<h1>FIT 360</h1>


<link href="https://videos.pexels.com/videos/man-doing-pull-ups-857628" rel="canonical" />
<link rel="stylesheet" media="all" href="https://static-videos.pexels.com/assets/application-d75c21f091faa67caa457422617b466c6c461e358c2e6cf3e87cf1773b456c50.css" data-turbolinks-track="true" />
<script src="https://static-videos.pexels.com/assets/application-e5b196aa55854ce6bbc49ea0ee200922c91a354c20c390a8ef3765a629d6de1f.js" data-turbolinks-track="true" async="async"></script>




<img src="https://images.pexels.com/photos/936094/pexels-photo-936094.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
  <h1>
FIT 360 serves you.
</h1>

<h1>
Why waste hundreds on a gym membership you use twice a month? Fit 360 brings you your favorite exercise courses when you want where you want. Sign up, login, live Fit!
</h1>

<br>
<br>
<div class="form">
    <font color="black">
      <%= link_to 'Log In', login_path%> or <%= link_to 'Sign Up', signup_path %>
      <%= form_tag sessions_path do %>
    </font>

      <div class=".col-md-4">

      <%= label_tag :email %>
      <%= text_field_tag :email %>

      <%= label_tag :password %>
      <%= password_field_tag :password %>

    </div>
      <p>

        <font color="black">
          <%= submit_tag 'Log in' %>
        </font>
      </p>
      <% end %>
  </div>


</div>
