

<div class="everything">

        <div class="aligner">
          <div class="aligner-items">
            <div class="runner-background">
            <div class="jon-instructors">
                          <font color="black">
                            <img src="http://www.tailormadenutrition.com/images/tailor_made/onlinestore-athlete-icon.png" alt="instructor" style="width:90%;height:90%;">
                            <h1>  New Athlete</h1>
                          </font>
                          <%= form_for @customer do |f| %>
                            <p>
                                <%= f.label :first_name %>
                                <%= f.text_field :first_name %>
                            </p>
                            <p>
                                <%= f.label :last_name %>
                                <%= f.text_field :last_name %>
                            </p>
                            <p>
                                <%= f.label :username %>
                                <%= f.text_field :username %>
                            </p>
                            <p>
                                <%= f.label :email %>
                                <%= f.text_field :email %>
                            </p>
                            <p>
                                <%= f.label :password %>
                                <%= f.password_field :password %>
                            </p>
                            <p>
                                <%= f.label :password_confirmation %>
                                <%= f.password_field :password_confirmation %>
                            </p>
                            <p>
                                <%= f.submit 'Create my Account' %>
                            </p>

                          <% end %>
                          <p>
                            <%= link_to 'Back', :back %>
</p>
              </div>
            </div>
        </div>
    </div>
</div>
