<div class="text-center">


  <br>
    <h1>
      Hello <%= current_customer.first_name %> </a>
    </h1>

    <hr>

    <p>
      <strong>Username:</strong>
      <%= @customer.username %>
    </p>
    <p>
      <strong>Last name:</strong>
      <%= @customer.last_name %>
    </p>
    <p>
      <strong>First name:</strong>
      <%= @customer.first_name %>
    </p>
    <p>
      <strong>Email:</strong>
      <%= @customer.email %>
    </p>

    <%= link_to 'Edit My Page', edit_customer_path(@customer), class:"btn btn-secondary",  style: 'color: #eee;'  %>

    <br>

  <hr>
  <br>
    <h4>  <%= link_to 'Browse our Courses', courses_path, class:"btn btn-primary btn-lg btn-block",  style: 'color: #eee;'  %> </h4>
  <br>
  <hr>
  <br>

  <%# if @customer.id == session[:customer_id] && @customer.courses.any?  %>
  <%#= render 'customer_courses/index', courses: @customer.courses %>
  <%# end %>

  <% if @customer.courses.any?  %>
    <%= render 'customer_courses/index', courses: @customer.courses %>
  <% end %>


    <hr>


</div>
