<!-- <p id="notice"><%= notice %></p> -->

  <h1>Current Courses</h1>

      <% courses.each do |course| %>
      <div class="courses">
          <p>
            <strong>Name:</strong>
            <%= course.name %>
          </p>
          <p>
            <strong>Description:</strong>
            <%= course.description %>
          </p>
          <%= link_to 'Edit', course %>  |
          <%= link_to 'Remove Course', course, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
<br>
