<div class="text-center">
<br>
  <h1>Courses</h1>

  <h4>
    <br>
      <% if session[:instructor_id]  %>
    <hr>

    <br>
      <%= link_to 'Create Course', new_course_path, class: 'btn btn-primary btn-lg btn-block', style: 'color: white;'  %>
    <br>

      <hr>
    <% end %>
  </h4>



 <% @courses.each do |course| %>

  <strong> Class: </strong>  <%= course.name %>
  <br>
  <br>

   <%= image_tag course.image.url, class: "image-medium" %>
   <br>
   <br>
   <strong> Instructor: </strong>
    <%= link_to "#{course.instructor.full_name}", instructor_path(course.instructor) %>
    <br>
    <br>


   <strong> Description: </strong> <%= course.description %>
   <br>
   <br>

   <strong> Price: </strong> $<%= course.price %>
  <!-- <strong> Date and Time:</strong><%#=course.date %>  -->

<h4>
  <% if current_instructor %>
  <br>
    <%= link_to 'Learn more', course_path(course) ,class: 'btn btn-info btn-lg', style: 'color: white' %>
      <br>
  <% else %>
  <br>
    <%= link_to 'Learn more', course_path(course) ,class: 'btn btn-info', style: 'color: white' %>
    <br>
    <br>
    <%= link_to 'Purchase', course_customer_courses_path(course.id), method: :post, class: 'btn btn-success', style: 'color: white;' %>
  <% end %>

<br>
  <hr>

</h4>

<br>

<% end %>

<br>



<!-- <h4>
<% if session[:instructor_id] %>
  <%= link_to 'Back', :back, class: 'btn btn-primary btn-lg', style: 'color: white;'  %>
<% elsif session[:customer_id] %>
  <%= link_to 'Back', :back, class: 'btn btn-primary btn-lg', style: 'color: white;' %>
<% end %>
</h4> -->


<%= link_to 'Back', :back, class: 'btn btn-primary  btn-lg ', style: 'color: white;'  %>

</div>







<!--  -->
