<!-- <p id="notice"><%= notice %></p>  -->

<h1>Course</h1>
<p class="title">
  <strong>Name:</strong>
  <%= @course.name %>
</p>
<p class="description">
  <strong>Description:</strong>
  <%= @course.description %>
</p>
<p>
  <strong>Course Photo:</strong>
  <br>
  <%= image_tag @course.image.url(:medium) %>
</p>
<p class="price">
  <strong>Price:</strong>
  <%= @course.price %>
</p>
<p class="date">
  <strong>Date:</strong>
  <%= @course.date %>
</p>
<hr>
<% if session[:instructor_id] %>
<td><%= link_to 'Go back', instructor_path(current_instructor) %> </td>
<%= link_to 'Edit', edit_course_path(@course) %>
<% else %>
<td><%= link_to 'Go Back', courses_path%> </td>
<td><%= link_to 'Purchase', new_charge_path %></td>
<% end %>
