<!-- <p id="notice"><%= notice %></p>  -->

<h1>Course</h1>
<p class="title">
  <strong>Name:</strong>
  <%= @course.name %>
</p>
<p class="description">
  <strong>Description:</strong>
  <%= @course.description %>
</p>
<p>
  <strong>Course Photo:</strong>
  <br>
  <%= image_tag @course.image.url(:medium) %>
</p>

<br>
<hr>

<p>
  <strong>Course Location:</strong>
  <br>
  <h3>This map is rendered, found in: views/courses/show.html.erb</h3>
  <%= render 'map', courses: @course %>
  <p>Method: full_street_address | Address of course:<%= @course.full_street_address %></p>

  <p><%= @course.lat %></p>
  <p><%= @course.lng %></p>

</p>

<p class="price">
  <strong>Price:</strong>
  <%= @course.price %>
</p>
<p class="date">
  <strong>Date:</strong>
  <%= @course.date %>
</p>

<hr>
<% if session[:instructor_id] %>
<td><%= link_to 'Go back', instructor_path(current_instructor) %> </td>
<% else %>
<td><%= link_to 'Go Back', courses_path%> </td>
<% end %>

<%= link_to 'Edit', edit_course_path(@course) %>