<!-- <p id="notice"><%= notice %></p> -->

<p class="title">
  <strong>Name:</strong>
  <%= @course.name %>
</p>
<!-- <p class "date">
  Submitted <%= time_ago_in_words(@course.created_at)%> Ago
</p> -->
<p class="description">
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<%= link_to 'Done', :back %>
<!-- <%= link_to 'Edit', edit_course_path(@course) %> | -->
<!-- <%= link_to 'Back', courses_path %> -->
