<!-- <p id="notice"><%= notice %></p>  -->

<div class="text-center">

  <h1> <%= @course.name %> </h1>

  <%= image_tag @course.image.url(:medium) %>
  <br>
  <br>
    <h5>
      <strong>Description:</strong>
        <%= @course.description %>
      <br>
      <br>
        <strong>Price: </strong>
        $<%= @course.price %>.00
      <br>
      <br>
        <strong>Instructor: </strong>
        <%= link_to "#{@course.instructor.full_name}", instructor_path(@course.instructor) %>

      <br>
      <hr>
      <br>
      <%= link_to "Learn more about #{@course.instructor.first_name}", instructor_path(@course.instructor), class:"btn btn-secondary btn-lg btn-block", style: 'color: #eee;' %>
      <br>


    <hr>
    <br>
      <strong>Course Location: </strong><%= @course.full_street_address %>
    </h5>

    <br>



  <!-- Map Script Begin -->
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

      <div id="map"></div>

      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARS3w6Edhic58He7WGrUuaFMXSrAWvoC8&callback=initMap">
      </script>



      <script>
      var lat = <%= @course.lat %>;
      var lng = <%= @course.lng %>;
      </script>
  <!-- Map Script End -->



  <h4>
    <br>
    <% if session[:instructor_id] == @course.instructor.id %>
        <%= link_to 'Edit', edit_course_path(@course), class: 'btn btn-secondary btn-lg btn-block', style: 'color: white;'   %>
        <br>
        <%= link_to 'Back', instructor_path(current_instructor), class: 'btn btn-primary  btn-lg ', style: 'color: white;'  %>
    <% else %>
    <br>
      <% if session[:customer_id] %>
      <div class="actions">
        <%= link_to 'Purchase', course_customer_courses_path(@customer), method: :post, class: 'btn btn-lg btn-success', style: 'color: white;' %>
      </div>
    <% end %>
        <%= link_to 'Back', :back, class: 'btn btn-primary  btn-lg ', style: 'color: white;'  %>
    <% end %>
  </h4>





  <br>
  <br>
</div>
