<!-- <p id="notice"><%= notice %></p>  -->

<h1>Course</h1>
<p class="title">
  <strong>Name:</strong>
  <%= @course.name %>
</p>
<p class="description">
  <strong>Description:</strong>
  <%= @course.description %>
</p>
<p>
  <strong>Course Photo:</strong>
  <br>
  <%= image_tag @course.image.url(:medium) %>
</p>
<p class="date">
  <strong>Date:</strong>
  <%= @course.date %>
</p>
<hr>
<%= link_to 'Done', instructor_path(current_instructor) %>
<%= link_to 'Edit', edit_course_path(@course) %>
