<!DOCTYPE html>
<html>
  <head>
    <title>Fit305</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Home', root_url %> |
    <%= link_to 'View Instructors', instructors_path %> | <%= link_to 'View courses', courses_path %> | <%= link_to 'View Customers', customers_path %>

    <%= yield %>
  </body>
</html>
