<!DOCTYPE html>

<!-- !!!!! ****   When deploying to Heroku  ***** !!!!-->

 <!-- visit app/uploaders/image_uploader.rb and switch out commented lines  -->
 <!-- visit app/config/initialziers/ carrierwave.rb and  uncomment file  -->
<!-- Deploy to Heroku -->
<!-- REVERSE STEPS WHEN IN DEVELOPMENT -->


<html>
  <head>
    <title>Fit360</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- Nav Bar Begin -->
  <!-- Nav Bar Begin -->
  <!-- Nav Bar Begin -->
<nav class="navbar navbar-light bg-faded">

<a class="navbar-brand" href="<%= root_url %>">FIT360</a>

<div class="navbar-brand">

<%= link_to 'View Instructors', instructors_path %> |
<%= link_to 'View Courses', courses_path %>

</div>

<div class="navbar-brand navbar-right">
<% if current_customer %>
    <a href="<%= customer_path(current_customer) %>"> Welcome <%= current_customer.first_name %> |
    <%= link_to '   Log Out', logout_path %>
<% elsif current_instructor%>
    <a href="<%= instructor_path(current_instructor) %>"> Welcome <%= current_instructor.first_name %> </a><%= link_to ' Log Out', logout_path %>
<% else %>
    <%= link_to 'Log In   ', login_path%> |
    <%= link_to '  Sign Up', signup_path %>
<% end %>
</div>
</nav>

<!-- Nav Bar End -->
<!-- Nav Bar End -->
<!-- Nav Bar End -->



  <body>

  <div class="container py-4 ">                  <!-- Container Begin -->

    <% if flash[:notice] || flash[:error] %>
      <br>
      <br>
      <h1 class="text-center"><%= flash[:notice]%></h1>
      <h1 class="text-center"> <font color="red"><%= flash[:error]%></font></h1>
      <br>
      <br>
      <% end %>

    <%= yield %>
  </div>                                   <!-- Container End -->

  </body>
</html>
