<!DOCTYPE html>
<html>
  <head>
    <title>Fit305</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
  </head>

  <body>

  <div>
    <%= link_to 'Home', root_url %> |
    <%= link_to 'View Instructors', instructors_path %> | <%= link_to 'View courses',
     courses_path %>  | <%= link_to 'View Customers', customers_path %> |
     <% if current_customer %>
                 <a>Welcome&nbsp;&nbsp;&nbsp;<%= current_customer.first_name %> </a><%= link_to 'Log Out', logout_path %>
        <% elsif current_instructor%>
          <a>Welcome&nbsp;&nbsp;&nbsp;<%= current_instructor.first_name %> </a>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Log Out', logout_path %>
        <% else %>

          <%= link_to 'Log In', login_path%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Sign Up', signup_path %>&nbsp;&nbsp;
    <% end %>

     <!-- <%= link_to 'Log out', logout_path %> -->
    <fb:login-button id="fb-login-button" scope="public_profile,email" onlogin="checkLoginState();" data-auto-logout-link="true" data-turbolinks-permanent><!-- facebook login/status begin -->
    </fb:login-button>
    <a href="https://www.accuweather.com/en/us/miami-fl/33128/weather-forecast/347936" class="aw-widget-legal">
    <!--
    By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy.
    -->
    </a><div id="awcc1517519785387" class="aw-widget-current"  data-locationkey="" data-unit="f" data-language="en-us" data-useip="true" data-uid="awcc1517519785387"></div><script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
  </div>
    <br><br>
    <hr>

    <div class="">
      <%= flash[:notice] %>
    </div>
    <%= yield %>
      </body>
</html>
