<!DOCTYPE html>
<html>
  <head>
    <title>Fit305</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <div>    <!-- facebook div begin   -->
    <%= link_to 'Login/Root Path', root_url %> |
    <%= link_to 'View Instructors', instructors_path %> | <%= link_to 'View courses', courses_path %> | <%= link_to 'View Customers', customers_path %> <%= link_to 'Logout', logout_path %>

    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" data-auto-logout-link="true"><!-- facebook login/status begin -->
    </fb:login-button>
  </div>    <!-- facebook div end   -->




<br>
  <hr>


    <div class="">
      <%= flash[:notice] %>
    </div>
    <%= yield %>
  </body>
</html>
